<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">


    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Github</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/grayscale.min.css" rel="stylesheet">
</head>
<body id="page-top">
<div th:replace="home :: navlinks"></div>
<section id="about" class="about-section text-center" style="margin-bottom: -50px">
    <div class="container">
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
            <div class="col-xl-4 col-lg-5">
                <img class="img-fluid" style="max-width: 100%" src="img/sssss.jpg" alt="">
            </div>
            <div class="col-xl-8 col-lg-7" style="padding-left: 10px">
                <div class="featured-text text-center text-lg-left">
                    <h4 style="color: white">"The ultimate Collaboration Platform"</h4>
                    <p class="text-white-50 mb-0">uWhat do you like best?
                        Github is an online source code repository. This online software tool provides an ultimate platform for collaboration between different developers working on the same project. Since the repository is online it doesn't matter where the members of the team are located. All can sync up with each other with the help of this tool.

                        It provides not only an online repository for collaboration but also an effective collection of wikis, email notifications, documentations etc. It basically facilitates education on software development. I personally use it for collaborating on any project with the teams I work with.

                        It allows you to segregate all the work at one single place. You can create different branches for different works with the main code being protected in a single branch. It shows you what changes you made, allows you to create requests that your other teammates can review before merging it with the main code. Helps you keep track of who did what. With different add on tools and its original toolkit it comes in really handy to maintain and deploy code.

                        What do you dislike?
                        The only complain I have with Github is that it is hard to work around. The interface of the tool is not user friendly and can be challenging for beginners to work with.

                        Recommendations to others considering the product:
                        It is good for small teams and business. Once mastered can be great and effective way of collaboration.

                        What problems are you solving with the product? What benefits have you realized?
                        I am working on different projects with teams and use Github for syncing up with work.</p>
                </div>
            </div>
        </div>
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
            <div class="col-xl-8 col-lg-7" style="padding-right: 10px">
                <div class="featured-text text-center text-lg-left">
                    <h4 style="color: white">"Cheap, Easy to Use, and Great for Collaboration"</h4>
                    <p class="text-white-50 mb-0">what do you like best?
                        I've used Github for over 5 years on projects small to large. It's ease of use for new comers with it's intuitive desktop client is second to none. In less than an hour I can have a fresh developer committing, pulling, and managing their project contributions inside of GitHub. Then for those looking for more control, you have a full CLI with powerful tools.

                        What do you dislike?
                        Sometimes it can be convoluted to solve complex merge conflicts inside their desktop client. It's great for regular work but, when things go wrong it completely breaks down requiring someone with more experience using the CLI to solve these issues.

                        Recommendations to others considering the product:
                        Use their desktop client. It's powerful and makes project management very easy for anyone joining your team and working with you on your project.

                        What problems are you solving with the product? What benefits have you realized?
                        Pr</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-5">
                <img class="img-fluid mb-3 mb-lg-0" src="img/bg-masthead.jpg" alt="">
            </div>

        </div>
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
            <div class="col-xl-4 col-lg-5">
                <img class="img-fluid mb-3 mb-lg-0" src="img/bg-masthead.jpg" alt="">
            </div>
            <div class="col-xl-8 col-lg-7" style="padding-left: 10px">
                <div class="featured-text text-center text-lg-left">
                    <h4 style="color: white">"High availability, reliable, secure web host to version control my projects."</h4>
                    <p class="text-white-50 mb-0">
                        What do you like best?
                        What i like the most about GitHub is it lets you collaborating with your team really easlly, your team mates can just pull and push request changes, you have the option to look at the changes and merge the changes which makes working together really easy and fast without any problems.

                        The seconds best thing is version controlling, you can easly track your changes and even see or download the older versions which helps you save time if you made some mistake while coding.

                        And the best thing, GitHub is offering free student developer pack which gives you the pro plan for free!

                        What do you dislike?
                        If you aren't purchasing any plan and stick with the free one, youc have limited features for example you arent able to create private git which was really frustrating at the beginning when i had no premium plan.

                        Recommendations to others considering the product:
                        Learn git commands before start using GitHub.

                        What problems are you solving with the product? What benefits have you realized?
                        Version control, collaborating, issue and bug tracking everything becomes alot easier, when i upload my private files to GitHub i can be sure they are secure.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div th:replace="home :: contact"></div>
<div th:replace="home :: footer"></div>
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<script src="js/grayscale.min.js"></script>
</body>
</html>